<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_sprite0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,159}</string>
                <key>spriteSourceSize</key>
                <string>{210,159}</string>
                <key>textureRect</key>
                <string>{{0,468},{210,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,159}</string>
                <key>spriteSourceSize</key>
                <string>{210,159}</string>
                <key>textureRect</key>
                <string>{{210,468},{210,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,176}</string>
                <key>spriteSourceSize</key>
                <string>{114,176}</string>
                <key>textureRect</key>
                <string>{{316,87},{114,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{403,0},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{311,0},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{357,0},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{60,87},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{124,87},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{188,87},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{252,87},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{20,0},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{47,0},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,87},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{74,0},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{101,0},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{128,0},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{155,0},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,87}</string>
                <key>spriteSourceSize</key>
                <string>{20,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,205}</string>
                <key>spriteSourceSize</key>
                <string>{163,205}</string>
                <key>textureRect</key>
                <string>{{114,263},{163,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,205}</string>
                <key>spriteSourceSize</key>
                <string>{163,205}</string>
                <key>textureRect</key>
                <string>{{277,263},{163,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{182,0},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{225,0},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{268,0},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_sprite9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,176}</string>
                <key>spriteSourceSize</key>
                <string>{114,176}</string>
                <key>textureRect</key>
                <string>{{0,263},{114,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>_SPRITES.png</string>
            <key>size</key>
            <string>{455,627}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e9049d84bcec6c3db0e1ac40a44479:30b2341e761cd769cdc340d5d73971f7:74872e4cc841bf0e7a7379283384ca2f$</string>
            <key>textureFileName</key>
            <string>_SPRITES.png</string>
        </dict>
    </dict>
</plist>
